{
    "irc"       : {
        "server"    : "irc.freenode.net",
        "port"      : "6667",
        "channels"  : [ "#ember", "#hoodie", "#angularjs", "#couchdb", "#node.js", "#cti-dev !QAZxsw2" ],
        "nick"      : "smpl123"
    },
    "mongo"     : {
        "user"              : "YOUR_MONGO_USERNAME",
        "password"          : "YOUR_PASSWORD",
        "hostname"          : "SOME.HOST.TLD",
        "port"              : "27017",
        "database"          : "irc"
    }
}
